<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование лошади</title>
</head>
<body>
<div style="text-align: center;">
    <form th:action="@{/update/{id}(id=${horse.id})}" th:object="${horse}" method="post">
        <fieldset>
            <legend>Информация о лошади</legend>
            <label>
                Масть:
                <select name="type" th:field="*{type}">
                    <option value="Гнедая">Гнедая</option>
                    <option value="Вороная">Вороная</option>
                    <option value="Серая">Серая</option>
                    <option value="Рыжая">Рыжая</option>
                </select>
            </label>
            <label for="age">Возраст</label>
            <input type="text" th:field="*{age}" id="age" required placeholder="Возраст">
            <label for="price">Цена</label>
            <input type="text" th:field="*{price}" id="price" required placeholder="Цена">
            <input type="submit" value="Сохранить изменения">
        </fieldset>
    </form>
    <p>
        <a href="/">Назад</a>
    </p>
</div>
</body>
</html>